body {
    background-color: #171515;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
}
.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.filterByText {
    color: #fff;
}

.container-fluid {
    background-color: #171515;
    padding: 0;
}
.btnProfile {
    float: center;
}
.btn-primary {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
    border-color: #fab513;
}

.btn-primary:hover {
    color: #fff;
    background-color: #fab513;
    border-color: #fab513;
}

.btn-success {
    color: #fff;
    background-color: transparent;
    border-color: #fab513;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    /* border-color: #1e7e34; */
}

.dropdown-toggle:hover {
    color: #fff;
    background-color: #fab513;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    /* background-color: #0062cc; */
    background-color: transparent;
    border-color: #fab513;
}
.btn-primary.focus, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus,
.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus,.btn-success.focus,
 .btn-success:focus {
    box-shadow: 0 0 0 .2rem rgba(250, 181, 19, 0.5);
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle,
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle,
.btn-success:hover {
    color: #fff;
    background-color: #fab513;
    border-color: #fab513;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    /* min-width: 10rem; */
    padding: 0.1rem 0;
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: #fab513;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
}

 /* {
    color: #fff;
    background-color: #fab513;
    border-color: #fab513;
} */

.dropdown-item {
    display: block;
    width: 50%;
    clear: both;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    padding: 0.2rem 0.2rem;
    margin-bottom: 0.2rem;
    border: 1px solid #fab513;
    border-radius: 0.25rem;
}
.dropdown-menu.show {
    background-color: transparent;
    border: none;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: fit-content;
    max-width: fit-content;
    /* min-width: 10rem; */
    /* padding: 0.1rem 0;
    margin: 0.5rem 0 0 0; */
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: #fab513;
    background-clip: padding-box;
    border: 1px solid rgba(235, 247, 9, 0.15);
    border-radius: 0.25rem;
}
.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #fab513;
}
.dropdown-item:focus,
 .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #fab513;
}

.btn-link {
    font-weight: 400;
    color: white;
    background-color: transparent;
}

.btn-link:hover {
    color: #fab513;
    text-decoration: none;
}

.login_button {
    color: #000;
    margin-left: auto;
}

.inputBorders {
    border-color: #fab513;
}

.login_button:hover {
    border-color: #fab513;
}

.goBackToNewsList {
    color: #fff;
    margin-left: auto;
}

.myLogo {
    cursor: pointer;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    color: #000;
    background-clip: border-box;
    border: 1px solid;
    border-color: #fab513;
    border-radius: .25rem;
}

.cardEditButtons {
    color: #000;
    float: right;
    margin-left: .25rem;
}

.newsAuthorTextArea, .userFirstName {
    float: left;
    width: 48%;
}
.newsCategoryTextarea, .userLastName {
    float: right;
    width: 48%;
}
.custom-select:focus {
    border-color: #fab513;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(250, 181, 19, 0.5);
}

.cardHeaderAuthor {
    float: left;
    padding-left: 0.1rem;
    color: #fff;
}

.cardHeaderCategory {
    float: right;
    padding-right: 1.5rem;
    color: #fff;
}

.cardHeaderAuthorPar {
    border: 1px solid;
    border-color: red;
    border-radius: .25rem;
}

.card-header {
    position: relative;
    background-color: #fab513;
    padding: 0.1rem 0.1rem;
}
.card-header p {
    margin: 0;
}

.profilePic{
    
    width: 50%;
    height: 50%;
    
    position: absolute;
    
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}
.profileForm{
    display: inline-block;
    align-items: center;
}