body {
    background-color: #171515;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.container-fluid {
    background-color: #171515;
    padding: 0;
}

.btn-primary {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
    border-color: #fab513;
}

.btn-primary:hover {
    color: #fff;
    background-color: #fab513;
    border-color: #fab513;
}

.btn-link {
    font-weight: 400;
    color: white;
    background-color: transparent;
}

.btn-link:hover {
    color: #fab513;
    text-decoration: none;
}

.login_button {
    color: #000;
    margin-left: auto;
}

#inputBorders {
    border-color: #fab513;
}

.login_button:hover {
    border-color: #fab513;
}

.tableHeader {
    background: #171515;
    border-color: transparent;

}

.goBackToNewsList {
    color: #fff;
    margin-left: auto;
}

.myLogo {
    cursor: pointer;    
}

/* .myTable{
    border-top: none;
} */